
RewriteEngine on
RewriteBase /donate_to_heal/

RewriteCond %{REQEST_FILENAME} !-d
RewriteCond %{REQEST_FILENAME} !-f
RewriteCond %{REQEST_FILENAME} !-l

RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)$
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]







