<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        // Create a directions object and register a map and DIV to hold the 
        // resulting computed directions

        var map;
        var directionsPanel;
        var directions;

        function initialize() {
            map = new GMap(document.getElementById("map_canvas"));
            map.setCenter(new GLatLng(41.1255275, -73.6964801), 15);
            directionsPanel = document.getElementById("route");
            directions = new GDirections(map, directionsPanel);
            directions.load("from: Armonk Fire Department, Armonk NY to: <?php echo $LastCallGoogleAddress;?> ");

            map.addControl(new GSmallMapControl());
            map.addControl(new GMapTypeControl());
        }
    </script>

    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="map1" style="height: 200px;"></div>
    <div id="map2" style="height: 200px;"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB9QFyUSZ75iGCi9yhjubJM8H0yw2koqE&callback=initMap&v=weekly" async></script>
</body>

</html>