* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    justify-content: center;
    align-items: center;
    
    /* background: url(images/u_reg_heart.png); */
    background: url(images/bgImage.jpeg);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center;
     
    /* background: url("images/u_reg_background.jpg");
     background-repeat: no-repeat;
     background-size: cover; */
  
     
     /* background: rgb(10,9,9);
background: linear-gradient(180deg, rgba(10,9,9,0.11691942401960786) 5%, rgba(160,168,171,0.44184939600840334) 51%); */

 
  }
 .outer_class{
     margin: 10%;
     width: 60%;
     z-index: -1;
     
     margin-top: 8%;
     border-radius: 15px;
     margin-left: 20.5%;
     padding-top: 2%;
     margin-bottom: 3px;
     
 }

 .topic{
     
     /* font-size: 50px; */
     color: #00132b;
     position: relative;
     padding-top: 20px;
     font-weight: bolder;
     padding-bottom: 2.3%;
     background: rgb(223,222,222);
   background: linear-gradient(0deg, rgba(223,222,222,0.7135580794817927) 6%, rgba(226,31,12,1) 100%);
     height: 40%;
     border-radius: 20px 20px 0 0;
     
     text-align: center;
     
 }

.form{
    font-weight: bold;
    width: 81%;
    font-size: 20px;
    border-style: solid;
    margin-left: 10%;
    margin-bottom: 6%;
    border-radius: 25px;
    z-index: 1;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    background: rgb(235,225,225);
    background: linear-gradient(180deg, rgba(235,225,225,0.11691942401960786) 0%, rgba(232,17,16,0.593109900210084) 60%);
    
    
}

.container {
    
    z-index: 0;
    padding: 10px;
    
  }

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    border-style: solid;
    border-color:rgb(11, 2, 88);
    border-radius: 7px;
  }




input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 5px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.district{
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}

.bloods{
    padding: 10px 0;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}


.registerbtn {
   font-weight: bolder;
    font-size: 40px;
    opacity: 0.7;
    background: rgb(223,222,222);
   background: linear-gradient(180deg, rgba(223,222,222,0.7135580794817927) 19%, rgba(226,31,12,1) 98%);
    color: #00132b;
    padding: 16px 20px;
    margin: 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 20%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
    
  }
input.valid.success-alert {
    border: 3px solid #4CAF50;
    color: green;
    border-radius: 8px;
    font-weight: 30px;
}
input.error, textarea.error {
   font-size: 110%;
    border: 1px dashed red;
    font-weight: 30px;
    color: red;
    border-radius: 14px;
}

label.error.fail-alert {
    border: 2px solid red;
    border-radius: 5px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}
  

  /* --------------------- header -----------------*/

  
.header-area  {
    
    padding: 30px 16px;
    color: #f1f1f1;
    width: 100%;
    height: 87px;
    background:linear-gradient(#420207,#e20505) !important;
   position: fixed;
   z-index: 1;
   top: 0px;
}







.site-navbar {
  display: flex;
   justify-content: space-between;
   align-items: center;
   
 
 

}

.site-navbar ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}
.site-navbar .login-div {
 margin-right: 0%;
}

.site-navbar ul li a {
   color: #fef6fc;
   font-size: 17px;
   display: block;
   text-decoration: none;
   text-transform: uppercase;
}

.site-navbar ul li {
   padding-right: 70px;
}

.site-navbar ul li:last-child {
   padding-right: 0;
}

.site-navbar ul li a:hover {
   color: #0c0707;
}
.site-navbar ul li a.active {
   color: #00132b;
}

/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
   border: 3px solid #fff;
   padding: 5px;
   background-color: transparent;
   cursor: pointer;
   height: 39px;
   display: none;
   z-index: 99999;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
   width: 28px;
   height: 3px;
   background-color: #fff;
   display: block;
   transition: .3s;
}

.nav-toggler span:before {
   content: '';
   transform: translateY(-9px);
}

.nav-toggler span:after {
   content: '';
   transform: translateY(6px);
}

.nav-toggler.toggler-open span {
   background-color: transparent;
}

.nav-toggler.toggler-open span:before {
   transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
   transform: translateY(-3px) rotate(-45deg);
}


/* nav-toggler css start */


/* intro-area css start */

.intro-area {
   height: calc(100vh - 61px);
   display: flex;
   align-items: center;
   text-align: center;
   color: #fff;
}



/* ------------------------------Media quaries------------------------------------------ */

@media (max-width:1000px){
   .form{
    
      width: 80%;
      margin-left: 7%;
      margin-bottom: 6%;
      border-radius: 25px; 
  }

  .outer_class{
   margin: 13% 5% 3% 13%;
   width: 80%;
   padding-top: 3%;
   padding-bottom: 1%;  
}
}



@media (max-width:780px){
   .form{
      margin-top: 10%;
      width: 80%;
      margin-left: 9%;
      margin-bottom: 6%;
      border-radius: 25px; 
  }
  .outer_class{
   margin: 10% 5% 3% 0%;
   width: 80%;
   margin-left: 10%;
   padding-top: 3%;
   padding-bottom: 1%;  
}
.topic{
     
   font-size: 35px;
   font-weight: bold;
   padding-bottom: 3%; 
}

}

@media (max-width:650px){
   .outer_class{
      margin: 15% 5% 3% 0%;
      width: 80%;
      margin-left: 10%;  
      padding-right: 8px;
      
   }

   .form{
      margin-top: 5%;
      width: 100%;
      margin-left: 0.1%;
      margin-bottom: 6%;
      border-radius: 25px; 
      margin-right: 5%;
  }
}

@media (max-width:550px){
   .outer_class{
      margin: 15% 5% 3% 0%;
      margin-left: 10%;  
      padding-right: 8px;
      
   }

   .form{
      margin-top: 15%;
      width: 100%;
      margin-left: 0.1%;
  }
}

@media (max-width:450px){
   .outer_class{
      margin: 20% 5% 3% 0%;
      margin-left: 10%;  
      padding-right: 8px;
      
   }

   .form{
      
      margin-top: 15%;
      width: 100%;
      margin-left: 0.1%;
  }

  .topic{
     
   font-size: 30px;
   
   padding-top: 15px;
   font-weight: bold;
   padding-bottom: 2.5%;
   
}
}

@media (max-width:350px){
   .outer_class{
      margin: 30% 0 3% 3%;
       
      padding-right: 8px;
      
   }

   .form{
      
      margin-top: 15%;
      width: 120%;
      margin-left: 0.1%;
  }
}





  
  